* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color: #C9C9C9;
}

a:hover {
    text-decoration: underline;
    border-bottom: 7px;
    color: #C9C9C9;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


header {
    background-image: url(../img/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo_header {
    background-image: url(../img/logo_new.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height: 40px;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-size: 100%;
    color: #fff;
    height: 10vh;
    padding: 35px 8%;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 15px;
    line-height: 15px;
    z-index: 1000;

}

.menu a {
    text-decoration: none;
    padding: 10px 0 10px 0;
    line-height: 20px;
}

.submenu a {
    text-decoration: none;
}

.menu>li {
    padding: 0 1rem;
    position: relative;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 769px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 20px;
        margin: 0;
        padding: 0;
        border: 0;
        visibility: hidden;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        visibility: visible;
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    #sm1,
    #sm2,
    #sm3 {
        display: none;
    }
}

.inner,
.outer,
.games,
.main_page {
    display: flex;
    justify-content: center;
    font-family: 'Nunito';
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.05em;
}

.inner:hover,
.outer:hover,
.games:hover,
.main_page:hover {
    border-bottom: 4px solid white;
    border-radius: 3px 3px 0px 0px;
}

.submenu {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 0px;
    font-size: 22px;
    letter-spacing: 0.1em;
    background-image: url(../img/header_new.png);
    transition: all 1s;
    padding: 20px 170px;
    visibility: hidden;
}

.submenu li:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    color: #e3dddd;
}



@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito-ExtraLight.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-ExtraLight.otf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Inter-Black';
    src: url(../fonts/Inter-Black.otf);
}

@font-face {
    font-family: 'Inter-Light';
    src: url(../fonts/Inter-Light.otf);
}

.container {
    background-image: url(../img/фон.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 77%;
    display: flex;
}

.block1 {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 50px;
}

.block1_title {
    font-family: 'Inter-Black';
    font-weight: 700;
    font-size: 38px;
    line-height: 50px;
}

.block1_2_essence_2 {
    font-family: 'Inter-Light';
    font-weight: 900;
    font-size: 22px;
    line-height: 33px;
}

.block1_2_essence {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.line {
    margin-top: 35px;
    width: 2px;
    height: 490px;
    border: 1px solid #000000;
}

.block1_3_button {
    line-height: 20px;
    font-family: 'Montserrat';
    width: 260px;
    height: 48px;
    margin-bottom: 160px;
    cursor: pointer;
}

.hint {
    background: #E0E0E1;
    position: relative;
    z-index: 150;
    border-radius: 26px;
    font-weight: 700;
    font-size: 20px;
    text-align: justify;
    color: #000000;
    width: 150px;
    height: 42px;
    padding-top: 9px;
    padding-left: 13px;
}

.hint1 {
    background: #E0E0E1;
    border-radius: 26px;
    width: 250px;
    height: 200px;
    text-align: justify;
    padding-top: 43px;
    padding-left: 5px;
    padding-right: 5px;
}

#div {
    display: none;
    position: relative;
    z-index: 1;
    bottom: 42px;
}

.block1_result {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    width: 60%;
}

.block1_result:hover {
    text-decoration: none;
}

.text_1 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.6);
}

.img {
    background-image: url(..//img/play\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 45px;
    height: 45px;
}

.game {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.block2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.example-origin {
    width: 95%;
    flex-basis: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.example-draggable {
    height: 100px;
    width: 100px;
}

.processor {
    z-index: 100;
}

.operat {
    z-index: 100;
}

.videocard {
    z-index: 100;
}

#draggable-1 {
    background-image: url(../img/Материнская\ плата.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 170px;
    width: 220px;
}

#draggable-2 {
    background-image: url(../img/видеокарта.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 174px;
}

#draggable-3 {
    background-image: url(../img/Жёсткий\ диск.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 83px;
}

#draggable-4 {
    background-image: url(../img/Блок\ питания.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 110px;
}

#draggable-5 {
    background-image: url(../img/процессор.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 60px;
}

#draggable-6 {
    background-image: url(../img/Оперативная\ память.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 45px;
    width: 98px;
}

.line2 {
    margin-top: 35px;
    width: 1px;
    height: 490px;
    border: 1px solid #000000;
}

.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40%;
    align-self: center;
    display: none;
}

.success_image {
    background-image: url(..//img/checked.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50%;
}

.success_text {
    font-family: 'Inter-Light';
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    color: #000000;
}

.failure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    align-items: center;
    align-self: center;
    display: none;
}

.failure_image {
    background-image: url(..//img/cancel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 33%;
}

.button__1 {
    display: flex;
    justify-content: center;
}

.failure_text {
    font-family: 'Inter-Light';
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.button_new {
    padding: 10px 20px;
    border: 1.5px solid #000000;
    box-sizing: border-box;
    border-radius: 70px;
    cursor: pointer;
    display: inline-block;
}

.button_new:hover {
    text-decoration: none;
}

.again {
    font-family: 'Inter-Light';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #000;
}



.block3 {
    width: 50%;
    background-image: url(../img/Корпус.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 540px;
    height: 380px;
    margin-top: 85px;
}

.processor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20%;
    height: 20%;
    top: 22%;
    left: 38%;
    margin: 0;
}

.pro {
    width: 80%;
    height: 80%;
    z-index: 1;
}

.videocard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    height: 20%;
    top: 32%;
    left: 15%;
}

.video {
    width: 80%;
    height: 80%;
}

.matplata {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    height: 40%;
    bottom: 27%;
    left: 20%;
}

.mat {
    width: 90%;
    height: 95%;
}

.operat {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 19%;
    height: 10%;
    bottom: 40%;
    left: 38%;
}

.op {
    width: 100%;
    height: 85%;
}

.disk_main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 18%;
    height: 8%;
    bottom: 25%;
    left: 59%;
}

.disk {
    width: 90%;
    height: 70%;
}

.power {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20%;
    height: 11%;
    bottom: 26%;
    left: 20%;
}


.footer {
    display: flex;
    background-image: url(../img/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    height: 13vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.logo_footer {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 0px;
}

.seti {
    display: flex;
    flex-wrap: wrap;
}

.text_network {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #C9C9C9;
}

.mail {
    background-image: url(../img/mail.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 55px;
}

.vk {
    background-image: url(../img/vk.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 55px;
}

.insta {
    background-image: url(../img/insta.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 45px;
}

@media (min-width: 1600px) {
    .logo_header {
        width: 30%;
        height: 50px;
    }

    .menu {
        width: 90%;
    }

    .menu>li {
        font-size: 26px;
        line-height: 26px;
    }

    .block1_title {
        font-size: 49px;
    }

    .block1_2_essence {
        font-size: 25px;
    }

    .block1_4_result {
        width: 40%;
    }

    .block3 {
        margin-right: 200px;
    }

    .seti {
        margin-left: 500px;
    }
}

@media (max-width: 1440px) {
    .menu {
        line-height: 0px;
        width: 1400px;
    }

    .processor {
        width: 12%;
        height: 12%;
        top: 23%;
        left: 39%;
        margin: 0;
    }

    .videocard {
        width: 34%;
        height: 18%;
        top: 35%;
        left: 20%;
    }

    .matplata {
        width: 41%;
        height: 29%;
        bottom: 15%;
        left: 20%;
    }

    .operat {
        width: 21%;
        height: 9%;
        bottom: 25%;
        left: 38%;
    }

    .disk_main {
        width: 16%;
        height: 8%;
        bottom: 6%;
        left: 61%;
    }

    .power {
        width: 17%;
        height: 12%;
        bottom: 5%;
        left: 21%;
    }

    .footer {
        display: flex;
        background-image: url(../img/Rectangle\ 4.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: rgba(255, 255, 255, 0.8);
        font-size: 15px;
        width: 100%;
    }

    .logo_footer {
        font-family: 'Nunito';
        padding-left: 150px;
        font-weight: 400;
        font-size: 18px;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.8);
    }

    .seti {
        display: flex;
        flex-wrap: wrap;
        padding-left: 420px;
    }
}

@media (max-width: 1024px) {
    .menu {
        width: 100%;
    }

    .menu>li {
        width: 100%;
    }

    .text {
        padding-left: 20px;
    }

    .block1_title {
        font-size: 32px;
        line-height: 45px;
    }

    .block1_2_essence {
        font-size: 16px;
        line-height: 25px;
    }

    .failure_text {
        font-size: 15px;
    }

    .processor {
        width: 12%;
        height: 12%;
        top: 23%;
        left: 39%;
        margin: 0;
    }

    .videocard {
        width: 45%;
        height: 18%;
        top: 35%;
        left: 12%;
    }

    .video {
        width: 80%;
        height: 80%;
    }

    .matplata {
        width: 45%;
        height: 29%;
        bottom: 15%;
        left: 14%;
    }

    .mat {
        width: 90%;
        height: 95%;
    }

    .operat {
        width: 21%;
        height: 9%;
        bottom: 24%;
        left: 38%;
    }

    .op {
        width: 100%;
        height: 85%;
    }

    .disk_main {
        width: 18%;
        height: 8%;
        bottom: 6%;
        left: 64%;
    }

    .disk {
        width: 90%;
        height: 70%;
    }

    .power {
        width: 20%;
        height: 12%;
        bottom: 5%;
        left: 16%;
    }

    .seti {
        padding-left: 20%;
    }
}

@media (max-width: 768px) {
    .menu {
        width: 100%;
        margin-top: 70px;
    }

    .container {
        height: 1400px;
        display: flex;
        flex-direction: column;
    }

    .line,
    .line2 {
        display: none;
    }

    .block1 {
        width: 100%;
        height: 38%;
    }

    .text {
        width: 100%;
        height: 450px;
        margin-top: 50px;
        padding-left: 20px;
    }

    .block1_title {
        font-size: 36px;
        line-height: 40px;
    }

    .block1_2_essence {
        font-size: 17px;
        line-height: 22px;
    }

    .block1_result {
        width: 30%;
    }

    .hint {
        font-size: 17px;
        line-height: 18px;
        text-align: justify;
        padding-top: 12px;
        padding-left: 12px;
    }

    .hint1 {
        font-size: 13px;
    }

    .game {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        width: 70%;
        height: 60%;
    }

    .block2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 550px;
        height: 150px;
    }

    .failure {
        width: 60%;
        display: none;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .failure_text {
        font-size: 18px;
        line-height: 25px;
    }

    .again {
        font-size: 15px;
        line-height: 20px;
    }

    .button_new {
        padding: 7px 10px;
        border: 1.5px solid #000000;
        border-radius: 60px;
    }

    .success {
        height: 180px;
    }

    .success_text {
        font-size: 15px;
        line-height: 25px;
    }

    .block3 {
        width: 300px;
        height: 350px;
        margin-top: 0px;
    }

    .processor {
        width: 13%;
        height: 13%;
        top: 24%;
        left: 38%;
        margin: 0;
    }

    .pro {
        width: 80%;
        height: 80%;
    }

    .videocard {
        width: 48%;
        height: 17%;
        top: 35%;
        left: 10%;
    }

    .video {
        width: 80%;
        height: 80%;
    }

    .matplata {
        width: 50%;
        height: 30%;
        bottom: 13%;
        left: 10%;
    }

    .mat {
        width: 90%;
        height: 95%;
    }

    .operat {
        width: 20%;
        height: 9%;
        bottom: 23%;
        left: 38%;
    }

    .op {
        width: 100%;
        height: 85%;
    }

    .disk_main {
        width: 18%;
        height: 8%;
        bottom: 6%;
        left: 67%;
    }

    .disk {
        width: 90%;
        height: 70%;
    }

    .power {
        width: 21%;
        height: 11%;
        bottom: 10%;
        left: 12%;
    }

    .seti {
        display: flex;
        flex-wrap: wrap;
        margin-left: -110px;
    }

    .text_network {
        font-size: 16px;
        line-height: 17px;
    }

    .insta {
        margin-top: -5px;
    }
}

@media (max-width: 480px) {
    .logo_header {
        width: 40%;
    }

    .menu {
        width: 100%;
    }

    .container {
        height: 1400px;
        display: flex;
        flex-direction: column;
    }

    .line,
    .line2 {
        display: none;
    }

    .block1 {
        width: 100%;
        height: 38%;
    }

    .text {
        width: 100%;
        height: 450px;
        margin-top: 50px;
        padding-left: 20px;
    }

    .block1_title {
        font-size: 33px;
        line-height: 40px;
    }

    .block1_2_essence {
        font-size: 16px;
        line-height: 22px;
    }

    .block1_result {
        width: 50%;
    }

    .hint {
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
        padding-top: 12px;
        padding-left: 12px;
    }

    .hint1 {
        font-size: 13px;
    }

    .game {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        width: 60%;
    }

    .block2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 550px;
        height: 150px;
    }

    .failure {
        width: 100%;
    }

    .failure_text {
        font-size: 15px;
        line-height: 27px;
    }

    .again {
        font-size: 14px;
        line-height: 18px;
    }

    .success {
        height: 180px;
    }

    .success_text {
        font-size: 15px;
        line-height: 25px;
    }

    .block3 {
        width: 300px;
        height: 350px;
        margin-top: 0px;
    }

    .processor {
        width: 13%;
        height: 13%;
        top: 24%;
        left: 38%;
        margin: 0;
    }

    .pro {
        width: 80%;
        height: 80%;
    }

    .videocard {
        width: 48%;
        height: 17%;
        top: 35%;
        left: 10%;
    }

    .video {
        width: 80%;
        height: 80%;
    }

    .matplata {
        width: 50%;
        height: 30%;
        bottom: 13%;
        left: 10%;
    }

    .mat {
        width: 90%;
        height: 95%;
    }

    .operat {
        width: 20%;
        height: 9%;
        bottom: 23%;
        left: 38%;
    }

    .op {
        width: 100%;
        height: 85%;
    }

    .disk_main {
        width: 18%;
        height: 8%;
        bottom: 6%;
        left: 67%;
    }

    .disk {
        width: 90%;
        height: 70%;
    }

    .power {
        width: 21%;
        height: 11%;
        bottom: 10%;
        left: 12%;
    }

    .footer {
        display: flex;
    }

    .logo_footer {
        padding-left: 60px;
        font-size: 12px;
    }

    .seti {
        padding-left: 100px;
        justify-content: center;
    }

    .text_network {
        font-size: 13px;
        line-height: 20px;
    }

    .mail {
        width: 30%;
        height: 45px;
        padding-top: 55px;
    }

    .insta {
        width: 30%;
        height: 31px;
        padding-top: 59px;
    }
}

@media(max-width: 320px) {
    .menu {
        width: 100%;
    }

    .container {
        height: 1400px;
        display: flex;
        flex-direction: column;
    }

    .line,
    .line2 {
        display: none;
    }

    .block1 {
        width: 100%;
        height: 40%;
    }

    .text {
        width: 100%;
        height: 450px;
        margin-top: 50px;
        padding-left: 20px;
    }

    .block1_title {
        font-size: 33px;
        line-height: 40px;
    }

    .block1_2_essence {
        font-size: 16px;
        line-height: 22px;
    }

    .block1_result {
        width: 60%;
    }

    .hint {
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
        padding-top: 12px;
        padding-left: 12px;
    }

    .hint1 {
        font-size: 13px;
    }

    .game {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 60%;
    }

    .block2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .failure {
        width: 100%;
    }

    .failure_text {
        font-size: 15px;
        line-height: 20px;
    }

    .again {
        font-size: 15px;
        line-height: 20px;
    }

    .success {
        width: 100%;
    }

    .success_text {
        font-size: 15px;
        line-height: 25px;
    }

    .block3 {
        width: 300px;
        height: 350px;
        margin-top: 0px;
    }

    .processor {
        width: 13%;
        height: 13%;
        top: 24%;
        left: 38%;
        margin: 0;
    }

    .pro {
        width: 80%;
        height: 80%;
    }

    .videocard {
        width: 48%;
        height: 17%;
        top: 35%;
        left: 10%;
    }

    .video {
        width: 80%;
        height: 80%;
    }

    .matplata {
        width: 50%;
        height: 30%;
        bottom: 13%;
        left: 10%;
    }

    .mat {
        width: 90%;
        height: 95%;
    }

    .operat {
        width: 20%;
        height: 9%;
        bottom: 23%;
        left: 38%;
    }

    .op {
        width: 100%;
        height: 85%;
    }

    .disk_main {
        width: 18%;
        height: 8%;
        bottom: 6%;
        left: 67%;
    }

    .disk {
        width: 90%;
        height: 70%;
    }

    .power {
        width: 21%;
        height: 11%;
        bottom: 10%;
        left: 12%;
    }

    .logo_footer {
        padding-left: 2px;
    }
}