* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color: #C9C9C9;
}

a:hover {
    text-decoration: underline;
    border-bottom: 7px;
    color: #C9C9C9;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}



@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito-ExtraLight.ttf);
}

header {
    background-image: url(../img/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo_header {
    background-image: url(../img/logo_new.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height: 40px;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-size: 100%;
    color: #fff;
    height: 50px;
    padding: 35px 8%;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 15px;
    line-height: 15px;
    z-index: 1000;

}

.menu a {
    text-decoration: none;
    padding: 10px 0 10px 0;
    line-height: 20px;
}

.submenu a {
    text-decoration: none;
}

.menu>li {
    padding: 0 1rem;
    position: relative;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 769px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 20px;
        margin: 0;
        padding: 0;
        border: 0;
        visibility: hidden;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        visibility: visible;
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    #sm1,
    #sm2,
    #sm3 {
        display: none;
    }
}

.inner,
.outer,
.games,
.main_page {
    display: flex;
    justify-content: center;
    font-family: 'Nunito';
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.05em;
}

.inner:hover,
.outer:hover,
.games:hover,
.main_page:hover {
    border-bottom: 4px solid white;
    border-radius: 3px 3px 0px 0px;
}

.submenu {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 0px;
    font-size: 22px;
    letter-spacing: 0.1em;
    background-image: url(../img/header_new.png);
    transition: all 1s;
    padding: 20px 170px;
    visibility: hidden;
}

.submenu li:hover {
    border-bottom: 1px solid white;
}





.block1 {
    background-image: url(..//img/block1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 0;
    width: 100%;
    height: 730px;
}

.slaider {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10%;
    width: 70%;
    height: 70%;
}

.swiper {
    text-align: left;
    width: 90%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 500px;
    text-align: center;
}

.swiper-slide img {
    text-align: center;
    width: 100%;
    height: 100%;
}

.buttons {
    width: 40%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5%;
}

.button_1 {
    display: flex;
    align-items: center;
    width: 500px;
    height: 100px;
}

.button1_image {
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30%;
    height: 100%;
    z-index: 2;
}

.button_1_text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15%;
    height: 100%;
    background-color: #000;
    clip-path: polygon(0% 0%, 0% 700%, 100% 0%, 0% 0%);
    width: 0;
    opacity: 0;
    transition: 0.4s;
}

.button_1_text span {
    width: 65%;
    height: 75%;
    color: #fff;
    font-family: 'Nunito';
    font-size: 18px;
    opacity: 0;
    transition: .15s;
}

.button_2 {
    display: flex;
    align-items: center;
    width: 500px;
    height: 100px;
}

.button2_image {
    background-image: url(..//img/2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30%;
    height: 100%;
    z-index: 2;
}

.button_2_text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15%;
    height: 100%;
    padding-top: 2%;
    background-color: #000;
    clip-path: polygon(0% 0%, 0% 700%, 100% 0%, 0% 0%);
    width: 0;
    opacity: 0;
    transition: 0.4s;
}

.button_2_text span {
    width: 65%;
    height: 75%;
    font-family: 'Nunito';
    color: #fff;
    font-size: 18px;
    opacity: 0;
    transition: .15s;

}

.button_3 {
    display: flex;
    align-items: center;
    width: 500px;
    height: 100px;
}

.button3_image {
    background-image: url(../img/3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30%;
    height: 100%;
    z-index: 2;
}

.button_3_text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15%;
    height: 100%;
    background-color: #000;
    clip-path: polygon(0% 0%, 0% 700%, 100% 0%, 0% 0%);
    width: 0;
    opacity: 0;
    transition: 0.4s;
}

.button_3_text span {
    width: 65%;
    height: 75%;
    font-family: 'Nunito';
    color: #fff;
    font-size: 18px;
    opacity: 0;
    transition: .15s;
}


.slaider_text {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
}

.block2 {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 560px;
}

.block_2_image {
    background-image: url(..//img/5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 300px;
}

.block_2_text {
    color: #fff;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: justify;
    width: 50%;
    font-size: 22px;
}


.block3 {
    background: url(..//img/block3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.block3_text {
    color: #fff;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

.block3_cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card {
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #fff;
    font-family: 'Nunito';
    width: 20%;
    height: 400px;
}

.card_image_1 {
    background-image: url(..//img/топ\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40%;
}

.card_title {
    font-size: 19px;
    font-weight: 900;
    text-align: center;
}

.card_subtitle>ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 17px;
    line-height: 26px;
    padding-left: 25px;
}

.card_subtitle>li {
    font-size: 17px;
    line-height: 26px;
}

.card_cost {
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 15px;
}

.card_image_2 {
    background-image: url(..//img/топ\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40%;
}

.card_image_3 {
    background-image: url(..//img/топ\ 3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40%;
}


.footer {
    display: flex;
    background-image: url(../img/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    height: 13vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.logo_footer {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 0px;
}

.seti {
    display: flex;
    flex-wrap: wrap;
}

.text_network {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #C9C9C9;
}

.mail {
    background-image: url(../img/mail.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 55px;
}

.vk {
    background-image: url(../img/vk.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 55px;
}

.insta {
    background-image: url(../img/insta.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 45px;
}

@media (min-width: 1600px) {
    .logo_header {
        width: 30%;
        height: 50px;
    }

    .menu {
        width: 90%;
    }

    .menu>li {
        font-size: 26px;
        line-height: 26px;
    }

    .slaider_text {
        font-size: 70px;
        line-height: 70px;
        padding-left: 100px;
    }

    .buttons {
        height: 380px;
    }

    .button_1,
    .button_2,
    .button_3 {
        display: flex;
        align-items: center;
        width: 470px;
        height: 100px;
    }

    .button1_image,
    .button2_image,
    .button3_image {
        width: 40%;
    }

    .button_1_text,
    .button_2_text,
    .button_3_text {
        height: 100%;
        width: 100%;
        right: 17%;
    }

    .button_1_text span,
    .button_2_text span,
    .button_3_text span {
        font-size: 17px;
    }

    .seti {
        margin-left: 500px;
    }

    .button_2_text span {
        padding-top: 4%;
    }

    .button_3_text span {
        padding-top: 6%;
    }
}

@media (max-width: 1600px) {
    .buttons {
        height: 350px;
    }

    .button_1,
    .button_2,
    .button_3 {
        display: flex;
        align-items: center;
        width: 400px;
        height: 100px;
    }

    .button1_image,
    .button2_image,
    .button3_image {
        width: 39%;
    }

    .button_1_text,
    .button_2_text,
    .button_3_text {
        height: 100%;
        width: 100%;
        right: 15%;
    }

    .button_1_text span,
    .button_2_text span,
    .button_3_text span {
        font-size: 17px;
    }

    .button_3_text span {
        padding-top: 3%;
    }

}

@media (max-width: 1440px) {
    .menu {
        line-height: 0px;
        width: 1400px;
    }

    .slaider_text {
        font-size: 59px;
        line-height: 59px;
        padding-left: 70px;
    }

    .buttons {
        height: 320px;
    }

    .button_1,
    .button_2,
    .button_3 {
        display: flex;
        align-items: center;
        width: 308px;
        height: 80px;
    }

    .button1_image,
    .button2_image,
    .button3_image {
        width: 39%;

    }

    .button_1_text,
    .button_2_text,
    .button_3_text {
        height: 100%;
        width: 100%;
        right: 13%;
    }

    .button_1_text span,
    .button_2_text span,
    .button_3_text span {
        font-size: 14px;
    }

    .button_1_text span {
        padding-top: 0%;
    }

    .button_2_text span {
        padding-top: 0%;
    }

    .button_3_text span {
        padding-top: 3%;
    }

    .footer {
        color: rgba(255, 255, 255, 0.8);
        font-size: 15px;
        height: 90px;
        width: 100%;
    }

    .logo_footer {
        padding-left: 150px;
        font-weight: 400;
        font-size: 18px;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.8);
    }

    .seti {
        display: flex;
        flex-wrap: wrap;
        padding-left: 420px;
    }
}

@media (max-width: 1024px) {
    .menu {
        width: 100%;
    }

    .menu>li {
        width: 100%;
    }

    .slaider_text {
        font-size: 49px;
        line-height: 49px;
        padding-left: 50px;
    }

    .buttons {
        height: 320px;
    }

    .button_1,
    .button_2,
    .button_3 {
        display: flex;
        align-items: center;
        width: 230px;
        height: 60px;
    }

    .button1_image,
    .button2_image,
    .button3_image {
        width: 50%;
        margin-left: -20px;
    }

    .button_1_text,
    .button_2_text,
    .button_3_text {
        height: 100%;
        right: 14%;
    }

    .button_1_text span,
    .button_2_text span,
    .button_3_text span {
        font-size: 10px;
    }

    .button_3_text span {
        padding-top: 5%;
    }

    .block_2_image {
        width: 100%;
    }

    .block_2_text {
        width: 100%;
        padding: 30px;
        font-weight: 400;
        font-size: 20px;
        line-height: 21px;
        text-align: justify;
    }

    .block3_text {
        font-size: 27px;
        line-height: 27px;
    }

    .block3_cards {
        display: flex;
        justify-content: space-evenly;
        gap: 2%;
    }

    .card {
        width: 25%;
        height: 420px;
    }

    .seti {
        padding-left: 20%;
    }
}

@media (max-width: 768px) {
    .menu {
        width: 100%;
        margin-top: 70px;
    }

    .block1 {
        height: 880px;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .slaider {
        width: 100%;
    }

    .slaider_text {
        font-size: 40px;
        line-height: 42px;
        padding-left: 50px;
    }

    .buttons {
        height: 450px;
    }

    .button_1,
    .button_2,
    .button_3 {
        display: flex;
        align-items: center;
        width: 320px;
        height: 80px;
    }

    .button1_image,
    .button3_image,
    .button2_image {
        width: 30%;
        margin-left: -80px;
    }

    .button_1_text,
    .button_2_text,
    .button_3_text {
        height: 100%;
        right: 15%;
    }

    .button_1_text span,
    .button_2_text span,
    .button_3_text span {
        font-size: 14px;
    }

    .button_2_text span,
    .button_3_text span {
        padding-top: 5%;
    }

    .block2 {
        flex-direction: column;
    }

    .block_2_image {
        width: 90%;
    }

    .block_2_text {
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
        text-align: justify;
        width: 80%;
    }

    .block3_text {
        font-size: 20px;
        line-height: 22px;
        padding-bottom: -50px;
        text-align: center;
        align-items: center;
    }

    .block3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1630px;
    }

    .block3_cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 3%;
    }

    .card {
        width: 40%;
        height: 440px;
    }

    .logo_footer {
        font-size: 14px;
        padding-right: 60px;
    }

    .seti {
        display: flex;
        flex-wrap: wrap;
        margin-left: -110px;
    }

    .text_network {
        font-size: 16px;
        line-height: 17px;
    }

    .insta {
        margin-top: -5px;
    }
}

@media (max-width: 480px) {
    .logo_header {
        width: 40%;
    }

    .menu {
        width: 100%;
    }

    .slaider_text {
        padding-left: 40px;
        font-size: 28px;
        line-height: 35px;
    }

    .slaider {
        height: 40%;
    }

    .block1 {
        height: 450px;
        padding: 30px 0px;
    }

    .buttons {
        height: 250px;
        padding-top: 50px;
    }

    .button_1,
    .button_2,
    .button_3 {
        display: flex;
        align-items: center;
        width: 228px;
        height: 50px;
    }

    .button1_image,
    .button2_image,
    .button3_image {
        width: 30%;
    }

    .button_1_text,
    .button_2_text,
    .button_3_text {
        height: 100%;
        width: 100%;
        right: 13%;
    }

    .button_1_text span,
    .button_2_text span,
    .button_3_text span {
        font-size: 10px;
    }

    .button_2_text span,
    .button_3_text span {
        padding-top: 3%;
    }

    .button_1_text span {
        padding-top: 2%;
    }

    .block2 {
        flex-direction: column;
    }

    .block_2_image {
        width: 100%;
    }

    .block_2_text {
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        text-align: justify;
    }

    .block3_text {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }

    .block3 {
        width: 100%;
        height: 1630px;
    }

    .block3_cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 3%;
    }

    .card {
        width: 70%;
        height: 490px;
    }

    .footer {
        display: flex;
    }

    .logo_footer {
        padding-left: 60px;
        font-size: 12px;
    }

    .seti {
        padding-left: 100px;
        justify-content: center;
    }

    .text_network {
        font-size: 13px;
        line-height: 20px;
    }

    .mail {
        width: 30%;
        height: 45px;
        padding-top: 55px;
    }

    .insta {
        width: 30%;
        height: 31px;
        padding-top: 59px;
    }
}

@media(max-width: 320px) {
    .menu {
        width: 100%;
    }

    .slaider {
        height: 40%;
    }

    .swiper {
        width: 100%;
    }

    .slaider_text {
        padding-left: 30px;
        font-size: 27px;
        line-height: 33px;
    }

    .block1 {
        height: 450px;
        padding: 30px 0px;
    }

    .buttons {
        height: 250px;
        padding-top: 40px;
    }

    .button_1,
    .button_2,
    .button_3 {
        display: flex;
        align-items: center;
        width: 200px;
        height: 50px;
    }

    .button1_image,
    .button2_image,
    .button3_image {
        width: 39%;
    }

    .button_1_text,
    .button_2_text,
    .button_3_text {
        height: 100%;
        width: 100%;
        right: 12%;
    }

    .button_1_text span,
    .button_2_text span,
    .button_3_text span {
        font-size: 10px;
    }

    .button_2_text span,
    .button_3_text span {
        padding-top: 3%;
    }

    .button_1_text span {
        padding-top: 2%;
    }

    .block2 {
        display: flex;
        flex-direction: column;
    }

    .block_2_image {
        width: 80%;
        height: 250px;
    }

    .block_2_text {
        font-size: 13px;
        line-height: 12px;
        width: 90%;
        height: 250px;
    }

    .block3_text {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }

    .block3 {
        width: 100%;
        height: 1630px;
    }

    .block3_cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 3%;
    }

    .card {
        width: 70%;
        height: 490px;
    }

    .logo_footer {
        padding-left: 2px;
    }
}