* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color: #C9C9C9;
}

a:hover {
    text-decoration: underline;
    border-bottom: 7px;
    color: #C9C9C9;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Medium.otf);
}

@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito-ExtraLight.ttf);
}

header {
    background-image: url(../img/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo_header {
    background-image: url(../img/logo_new.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height: 40px;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-size: 100%;
    color: #fff;
    height: 50px;
    padding: 35px 8%;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 15px;
    line-height: 15px;
    z-index: 1000;

}

.menu a {
    text-decoration: none;
    padding: 10px 0 10px 0;
    line-height: 20px;
}

.submenu a {
    text-decoration: none;
}

.menu>li {
    padding: 0 1rem;
    position: relative;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 769px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 20px;
        margin: 0;
        padding: 0;
        border: 0;
        visibility: hidden;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        visibility: visible;
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    #sm1,
    #sm2,
    #sm3 {
        display: none;
    }
}

.inner,
.outer,
.games,
.main_page {
    display: flex;
    justify-content: center;
    font-family: 'Nunito';
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.05em;
}

.inner:hover,
.outer:hover,
.games:hover,
.main_page:hover {
    border-bottom: 4px solid white;
    border-radius: 3px 3px 0px 0px;
}

.submenu {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 0px;
    font-size: 22px;
    letter-spacing: 0.1em;
    background-image: url(../img/header_new.png);
    transition: all 1s;
    padding: 20px 170px;
    visibility: hidden;
}

.submenu li:hover {
    border-bottom: 1px solid white;
}

.container {
    background: radial-gradient(61.17% 61.17% at 50% 50.06%, rgba(101, 101, 101, 0.63) 0%, rgba(0, 0, 0, 0) 100%), #D9D9D9;
    width: 100%;
    height: 78.7%;
    display: flex;
    flex-direction: row;
}

.block1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.frame {
    background-image: url(../img/Корпус.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 25px;
    width: 543px;
    height: 522px;
}

.processor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20%;
    height: 20%;
    top: 32%;
    left: 38%;
    margin: 0;
}

.pro {
    width: 80%;
    height: 80%;
    z-index: 1;
}

.videocard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    height: 31%;
    top: 33%;
    left: 20%;
}

.video {
    width: 80%;
    height: 80%;
}

.matplata {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 40%;
    bottom: 29%;
    left: 14%;
}

.mat {
    width: 90%;
    height: 95%;
}

.operat {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 18%;
    height: 10%;
    bottom: 42%;
    left: 40%;
}

.op {
    width: 100%;
    height: 85%;
}

.disk_main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 17%;
    height: 6%;
    bottom: 43%;
    left: 66%;
}

.disk {
    width: 90%;
    height: 70%;
}

.power {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 24%;
    height: 12%;
    bottom: 35%;
    left: 16%;
}

.block {
    width: 82%;
    height: 72%;
}

.block2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.structure {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.line {
    border-left: 2px solid rgb(0, 0, 0);
    width: 1px;
    height: 380px;
    margin-top: 100px;
}

.text>li>a {
    color: #4E4D4D;
}

.text>li>a:hover {
    text-decoration: none;
    color: black;
    margin: 5px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Inter';
    height: 380px;
    margin-top: 100px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}

.text_game {
    text-align: right;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    color: #FFFFFF;
    padding-right: 30px;
    font-family: 'Inter';
}

.text_game:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.icon {
    background-image: url(../img/game.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 83px;
    height: 83px;
}

.icon:hover {
    background-image: url(../img/game_pink.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 83px;
    height: 83px;
}


.footer {
    display: flex;
    background-image: url(../img/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    height: 13vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.logo_footer {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 0px;
}

.seti {
    display: flex;
    flex-wrap: wrap;
}

.text_network {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #C9C9C9;
}

.mail {
    background-image: url(../img/mail.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 55px;
}

.vk {
    background-image: url(../img/vk.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 55px;
}

.insta {
    background-image: url(../img/insta.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 45px;
}


@media (min-width: 1600px) {
    .logo_header {
        width: 30%;
        height: 50px;
    }

    .menu {
        width: 90%;
    }

    .menu>li {
        font-size: 26px;
        line-height: 26px;
    }

    .system_block {
        bottom: 180%;
    }

    .keyboard {
        width: 500px;
        height: 400px;
        left: 20%;
        bottom: 45%;
    }

    .seti {
        margin-left: 500px;
    }
}


@media (max-width: 1440px) {
    .menu {
        line-height: 0px;
        width: 1400px;
    }

    .block2 {
        justify-content: space-around;
    }

    .text_game {
        font-size: 17px;
        white-space: nowrap;
    }

    .seti {
        padding-left: 20%;
    }

    .line,
    .text {
        margin-top: 0px;
    }

    .frame {
        margin-top: 0px;
    }

    .structure {
        align-items: center;
        margin-top: 50px;
    }

    .game {
        justify-content: flex-end;
    }

    .footer {
        color: rgba(255, 255, 255, 0.8);
        font-size: 15px;
    }

    .logo_footer {
        font-family: 'Nunito';
        padding-left: 150px;
        font-weight: 400;
        font-size: 18px;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.8);
    }

    .seti {
        display: flex;
        flex-wrap: wrap;
        padding-left: 420px;
    }
}

@media (max-width: 1024px) {
    .menu {
        width: 100%;
    }

    .menu>li {
        width: 100%;
    }

    .frame {
        display: none;
    }

    .block1 {
        background-image: url(../img/Системник.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 80%;
        height: 450px;
    }

    .structure {
        justify-content: center;
        margin-top: 10px;
    }

    .game {
        justify-content: flex-end;
    }

    .text {
        align-items: flex-start;
    }

    .text_game {
        font-size: 17px;
    }

    .seti {
        padding-left: 20%;
    }
}

@media (max-width: 768px) {
    .menu {
        width: 100%;
        margin-top: 70px;
    }

    html,
    body {
        height: initial;
    }

    .container {
        flex-direction: column;
    }

    .block2 {
        flex-direction: column;
    }

    .structure {
        margin-top: 10px;
    }

    .line {
        margin-top: 0px;
        margin-left: 40px;
    }

    .text {
        margin-top: 0px;
    }

    .text_game {
        font-size: 13px;
    }

    .icon {
        width: 75px;
        height: 75px;
    }

    .icon:hover {
        width: 75px;
        height: 75px;
    }

    .logo_footer {
        font-size: 14px;
        padding-right: 60px;
    }

    .seti {
        display: flex;
        flex-wrap: wrap;
        margin-left: -110px;
    }

    .text_network {
        font-size: 16px;
        line-height: 17px;
    }

    .insta {
        margin-top: -5px;
    }
}

@media (max-width: 480px) {
    .logo_header {
        width: 40%;
    }

    .menu {
        width: 100%;
    }

    .block1 {
        background-position: center;
    }

    .block2 {
        flex-direction: column;

    }

    .line {
        margin-top: 0px;
        margin-left: 40px;
    }

    .text {
        margin-top: 0px;
        align-items: flex-start;
        position: relative;
        right: 10px;
    }

    .game {
        margin: 0 auto;
    }

    .text_game {
        font-size: 13px;
        white-space: nowrap;
    }

    .icon {
        background-position: center;
        width: 60px;
        height: 60px;
    }

    .icon:hover {
        width: 75px;
        height: 75px;
    }

    .footer {
        display: flex;
    }

    .logo_footer {
        padding-left: 60px;
        font-size: 12px;
    }

    .seti {
        padding-left: 100px;
        justify-content: center;
    }

    .text_network {
        font-size: 13px;
        line-height: 20px;
    }

    .mail {
        width: 30%;
        height: 45px;
        padding-top: 55px;
    }

    .insta {
        width: 30%;
        height: 31px;
        padding-top: 59px;
    }
}

@media(max-width: 320px) {
    .menu {
        width: 100%;
    }

    .text {
        position: relative;
        right: 20px;
    }

    .logo_footer {
        padding-left: 2px;
    }
}